{% extends 'non_blog_base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <div class="row justify-content-center mb-2">
      <div class="col-md-4 d-flex align-items-center">
          {% if end_date %}
            <h1 style="font-size: 1rem;">
              Displaying graphs with data from {{ start_date }} to {{ end_date }}
            </h1>
          {% else %}
            <h1 style="font-size: 1rem;">
              Displaying graphs with data from 2014-10-07
            </h1>
          {% endif %}
      </div>
      <div class="col-md-2">
        <a href="{% url 'totolyzer:chart-simple_freq' %}" class="btn btn-secondary">Reset</a>
      </div>
      <div class="col-md-6">
        <form method="GET" action="{% url 'totolyzer:chart-simple_freq' %}" class="d-flex">
          <div class="input-group">
            <span class="input-group-text">Start</span>
            {{ form.start_date }}
          </div>
          <div class="input-group mx-2">
            <span class="input-group-text">End</span>
            {{ form.end_date }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="row justify-content-end">
      <a href="#" class="col">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Simple Frequencies</h5>
              </div>
          </div>
      </a>
      <a href="#" class="col">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Best Pairs</h5>
              </div>
          </div>
      </a>
      <a href="#" class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Frequent On Days</h5>
            </div>
        </div>
    </a>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="mt-4">
            {{ chart3|safe }}
        </div>
        </div>
        <div class="col-lg-6">
        <div class="mt-4">
            {{ chart4|safe }}
        </div>
        </div>
    </div>

  </div>

</div>

{% endblock content %}
