{% extends 'non_blog_base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <h1>Totolyzer | Is it truly random?</h1>
</div>

<div class="list-group mb-2">
  <hr>
  <div class="row">
    <div class="col-sm-4 col-md-2">
      <a href="{% url 'totolyzer:chart-overview' %}" class="list-group-item list-group-item-action p-2 mb-2 rounded bg-dark text-white text-center">Overview</a>
    </div>
    <div class="col-sm-4 col-md-2">
      <a href="{% url 'totolyzer:chart-simple_freq' %}" class="list-group-item list-group-item-action p-2 mb-2 rounded bg-dark text-white text-center">Winning Frequency</a>
    </div>
    <div class="col-sm-4 col-md-2">
      <a href="{% url 'totolyzer:chart-best_pairs' %}" class="list-group-item list-group-item-action p-2 mb-2 rounded bg-dark text-white text-center">Best Pairs</a>
    </div>
    <div class="col-sm-4 col-md-2">
      <a href="{% url 'totolyzer:chart-daily_breakdown' %}" class="list-group-item list-group-item-action p-2 mb-2 rounded bg-dark text-white text-center">Daily Breakdown</a>
    </div>
    <div class="col-sm-4 col-md-2">
      <a href="{% url 'totolyzer:chart-monthly_breakdown' %}" class="list-group-item list-group-item-action p-2 mb-2 rounded bg-dark text-white text-center">Monthly Breakdown</a>
    </div>
    <div class="col-sm-4 col-md-2">
      <a href="{% url 'totolyzer:chart-hot_n_cold' %}" class="list-group-item list-group-item-action p-2 mb-2 rounded active text-center">Coming Soon</a>
    </div>
  </div>
  <hr>
</div>

<p><b>Coming soon:</b></p>
<p>What numbers appear often after others in subsequent draws and other relationships between numbers.</p>
<p> Bin distribution i.e. 1-10,11-20,21-30,31-40,41-49 and even/odd distribution.</p>
{% endblock content %}
